[project]
	description = Project: BamBap
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/llhmwll
[access "refs/for/refs/*"]
	read = group user/llhmwll
	push = group user/llhmwll
	label-Code-Review = -2..+2 group user/llhmwll
	label-Verified = -1..+1 group user/llhmwll
	rebase = group user/llhmwll
	removeReviewer = group user/llhmwll
	submit = group user/llhmwll
[access "refs/heads/*"]
	read = group user/llhmwll
	create = group user/llhmwll
	push = +force group user/llhmwll
	pushMerge = group user/llhmwll
[access "refs/tags/*"]
	push = +force group user/llhmwll
	pushTag = group user/llhmwll
	pushSignedTag = group user/llhmwll
